<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div>
            <a href="{% url 'home:home' %}">Home</a>
        </div>
        <div>
            <a href="{% url 'summary:agp_visualization' %}">Summary</a>
        </div>
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout ({{ user.username }})</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
